<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Hi wa mata noboru kara</title>
</head>
<body>
    <header>
        <h1><span>陽はまた昇るから</span><br>Hi wa mata noboru kara</h1>
        <nav class="navbar">
            <ul>
                <li class="el1"><img class="arrow" src="../img/arrow.svg" alt="flèche"><a href="home.html"> Accueil</a></li>
                <li class="el2"><img class="arrow" src="../img/arrow.svg" alt="flèche"><a href="song1.html"> Mela !</a></li>
                <li class="el3"><img class="arrow" src="../img/arrow.svg" alt="flèche"><a href="song2.html"> Character</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="songPhoto" >
            <img src="../img/hi-wa-mata-noboru-kara.jpg" alt="Single Hi wa mata noboru kara">
        </article>

        <table>
            <tr>
                <th>Titre :</th>
                <td>Hi wa mata noboru kara</td>
            </tr>
            <tr>
                <th>Album :</th>
                <td>Single</td>
            </tr>
            <tr>
                <th>Année de sortie :</th>
                <td>2022</td>
            </tr>
            <tr>
                <th>Durée de la piste :</th>
                <td>4:26</td>
            </tr>
        </table>

        <article class="video">
            <iframe width="900" height="506" src="https://www.youtube.com/embed/e5FEOVTRfFc" title="緑黄色社会『陽はまた昇るから』Official Video / Ryokuoushoku Shakai – Hiwa Mata Noboru Kara" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
    </main>

    <footer>@2022 Masset Marina</footer>

    </body>
</html>