<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Mela!</title>
  </head>

  <body>
    <header>
      <h1>Mela!</h1>
      <nav class="navbar">
        <ul>
          <li class="el1">
            <img class="arrow" src="../img/arrow.svg" alt="flèche" /><a
              href="home.html"
            >
              Accueil</a
            >
          </li>
          <li class="el3">
            <img class="arrow" src="../img/arrow.svg" alt="flèche" /><a
              href="song2.html"
            >
              Character</a
            >
          </li>
          <li class="el4">
            <img class="arrow" src="../img/arrow.svg" alt="flèche" />
            <a href="song3.html">Hi wa mata noboru kara</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <article class="songPhoto">
        <img src="../img/singalong.jpg" alt="Album Sing Along" />
      </article>
      <table>
        <tr>
          <th>Titre :</th>
          <td>Mela !</td>
        </tr>
        <tr>
          <th>Album :</th>
          <td>Sing Along</td>
        </tr>
        <tr>
          <th>Année de sortie :</th>
          <td>2020</td>
        </tr>
        <tr>
          <th>Durée de la piste :</th>
          <td>4:02</td>
        </tr>
      </table>
      <article class="video">
        <iframe
          width="900"
          height="506"
          src="https://www.youtube.com/embed/aRDURmIYBZ4"
          title="緑黄色社会 『Mela!』Music Video / Ryokuoushoku Shakai – Mela!"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </article>
    </main>
    <footer>@2022 Masset Marina</footer>
  </body>
</html>
